<div class="docs-section" id="events">
	<h2>Events List</h2>
	<table class="table table-condensed table-hover table-striped table-bordered">
		<thead>
		<tr>
			<th width="30%">Event</th>
			<th>Callback Params</th>
			<th width="50%">Description</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>vehicle.make.select</td>
			<td><span class="label label-default">makeId</span>&nbsp;<span class="label label-default">makeName</span></td>
			<td>This event is fired when vehicle make is selected.</td>
		</tr>
		<tr>
			<td>vehicle.model.select</td>
			<td><span class="label label-default">modelId</span>&nbsp;<span class="label label-default">modelName</span></td>
			<td>This event is fired when vehicle model is selected.</td>
		</tr>
		<tr>
			<td>vehicle.year.select</td>
			<td><span class="label label-default">yearId</span>&nbsp;<span class="label label-default">yearName</span></td>
			<td>This event is fired when vehicle year is selected.</td>
		</tr>
		<tr>
			<td>vehicle.style.select</td>
			<td><span class="label label-default">styleId</span>&nbsp;<span class="label label-default">styleName</span></td>
			<td>This event is fired when vehicle style is selected.</td>
		</tr>
		<tr>
			<td>vehicle.feature.select</td>
			<td><span class="label label-default">featureId</span></td>
			<td>This event is fired when vehicle feature is selected.</td>
		</tr>
		<tr>
			<td>vehicle.feature.deselect</td>
			<td><span class="label label-default">featureId</span></td>
			<td>This event is fired when vehicle feature is unselected.</td>
		</tr>
		<tr>
			<td>dealer.select</td>
			<td><span class="label label-default">dealerId</span></td>
			<td>This event is fired when dealer is selected.</td>
		</tr>
		<tr>
			<td>dealer.deselect</td>
			<td><span class="label label-default">dealerId</span></td>
			<td>This event is fired when dealer is unselected.</td>
		</tr>
		<tr>
			<td>zip.update</td>
			<td><span class="label label-default">zipCode</span></td>
			<td>This event is fired when zip on the first tab is changed.</td>
		</tr>
		<tr>
			<td>ziplocation.update</td>
			<td><span class="label label-default">zipCode</span></td>
			<td>This event is fired when zip on the second tab is changed.</td>
		</tr>
		<tr>
			<td>zipmi.update</td>
			<td><span class="label label-default">zipCode</span>&nbsp;<span class="label label-default">radius</span></td>
			<td>This event is fired when zip on the third tab is changed.</td>
		</tr>
		<tr>
			<td>successdialogbtn.click</td>
			<td>Has no params</td>
			<td>This event is fired when button in the success dialog is clicked.</td>
		</tr>
		<tr>
			<td>tab1.click</td>
			<td>Has no params</td>
			<td>This event is fired when first tab is clicked.</td>
		</tr>
		<tr>
			<td>tab2.click</td>
			<td>Has no params</td>
			<td>This event is fired when second tab is clicked.</td>
		</tr>
		<tr>
			<td>tab3.click</td>
			<td>Has no params</td>
			<td>This event is fired when third tab is clicked.</td>
		</tr>
		<tr>
			<td>nextbtn1.click</td>
			<td>Has no params</td>
			<td>This event is fired when next button on the first tab is clicked.</td>
		</tr>
		<tr>
			<td>nextbtn2.click</td>
			<td>Has no params</td>
			<td>This event is fired when next button on the second tab is clicked.</td>
		</tr>
		<tr>
			<td>submitbtn.click</td>
			<td>Has no params</td>
			<td>This event is fired when submit button on the third tab is clicked.</td>
		</tr>
		</tbody>
	</table>
</div>
