<div class="docs-section" id="get_widget_code">
	<h2>Get Widget Code</h2>
	<p>To get started, just use the configurator to get code to add to your site.</p>
	<h3>Settings:</h3>
	<ul>
		<li><p><code>Vehicle API Key</code> - the Key for Vehicle API registered on <a href="http://developer.edmunds.com" target="_blank">Edmunds Developer Portal</a>.</p></li>
		<li><p><code>Dealer API Key</code> - the Key for Dealer API registered on <a href="http://developer.edmunds.com" target="_blank">Edmunds Developer Portal</a>.</p></li>
		<li><p><code>Theme</code> - the theme for the Widget. Options: 'Theme 1', 'Theme 2', 'Theme 3'.</p></li>
		<li><p><code>Color Scheme</code> - the color scheme for the Widget. Options: 'Light', 'Dark'.</p></li>
		<li><p><code>Width</code> - sets the width of the Widget.</p></li>
		<li><p><code>Include Border</code> - include/exclude border in the Widget.</p></li>
		<li><p><code>Border Radius</code> - sets the size of the Border Radius.</p></li>
		<li><p><code>Included Makes</code> - the set of Makes to display in Makes dropdown.</p></li>
		<li><p><code>Default Zip Code</code> - the zip code to display by default in ZIP field.</p></li>
		<li><p><code>Dealer Keywords</code> - keywords by which we filter the list of dealers to show only the ones whose title matches one of the keywords.</p></li>
		<li><p><code>Get Code</code> - instructions to embed New Vehicle Configurator Widget on your page.</p></li>
	</ul>
</div>
