<!DOCTYPE html>
<html>
<head>
	<title>Page not found</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

<% include layout/nav.ejs %>

<div class="container">
	<h1 class="page-header">Page you're looking for cannot be found.</h1>
	<p>Please make sure you entered the URL properly.</p>
</div>

<% include layout/scripts.ejs %>

</body>
</html>
