<div class="form-group">
	<label>Tabs to display</label>
	<select class="form-control input-sm" name="tabsToDisplay">
		<option>All tabs</option>
		<option>Tab1 + Tab2</option>
		<option>Tab1 + Tab3</option>
	</select>
</div>
