<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

<% include nav.ejs %>

<div class="container">
	<h1 class="page-header"><%= title %></h1>
</div>

<% include ../layout/scripts.ejs %>

</body>
</html>
